.header {
  background-color: #131921;
  height: 65px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  z-index: 100;
}

.header_icon {
  padding: 5px;
  height: 45px;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0 10px;
}

.header_searchInput {
  height: 40px;
  width: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  border: none;
  border-radius: 4px 0 0 4px;
  padding-left: 10px;
  outline: none;
}

.header_searchIcon {
  font-size: xx-large;
  padding: 9px;
  color: white;
  background-color: rgb(231, 158, 0);
  border-radius: 0 4px 4px 0;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header_optionOne {
  color: white;
  font-size: 11px;
}

.header_optionTwo {
  color: white;
  font-size: 14px;
  font-weight: 800;
}

.header_basket {
   display: flex;
   align-items: center;
   margin-right: 10px;
}

.header_basketIcon {
  color: white;
}
